body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  font-family: sans-serif;
}

.common-page
{

}

.security-page
{

}

.security-page h2
{
  margin-bottom: 0px;
}

.form-control
{
  width: 100%;
  margin-bottom: 25px !important;

}

.form-control legend
{
  margin-bottom: 15px;
}

.form-control .upload-button-container
{
  position: relative;
}

.form-control .upload-button-container .file-upload-input,
.form-control .upload-button-container .file-upload-button
{
    position: absolute !important;
    top: 0;
    left: 0;
}

.form-control .upload-button-container .file-upload-input
{
  z-index: 2;
}

.form-control .upload-button-container .file-upload-button
{
  z-index: 1;
}

.security-page .submit-container
{
  margin-top: 15px;
}

form .error
{
  color: red;
}

form .date-time-field
{
  padding-top: 20px;
  padding-bottom: 20px;
}

form legend
{
  color: #000ccc !important;
}

.upload-images-list
{
  clear: both;
}

.upload-images-list .upload-image-preview
{
  width: 150px;
  height: 150px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-images-list .upload-image-preview:hover
{
}

.upload-images-list .upload-image-preview .deleting-picture
{
  opacity: 0.5;
}

.upload-images-list .upload-image-preview img
{
  cursor: pointer;
}

.upload-images-list .upload-image-preview-inline
{
  float: left;
  margin: 10px;
}

.upload-images-list .upload-image-preview .upload-progress-container
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  opacity: 0.5;
}

.upload-images-list .upload-image-preview .remove-button
{
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
}

.upload-images-list .upload-image-preview:hover .remove-button
{
  display: flex;
}

.upload-images-list .upload-image-preview .upload-progress-container .upload-infinity-progress
{
  margin: auto auto;
}
.upload-images-list .upload-image-preview .upload-progress-container .upload-linear-progress
{
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-window-content
{
  width: 75%;
  margin: auto auto;
}

.form-control .upload-button-container > div
{
  display: inline !important;
  width: inherit !important;
  height: inherit !important;
  border: none !important;
}

.video-form-container
{
  padding: 25px;
  position: relative;
}

.video-form-container .progress
{
  position: absolute;
  top: 5px;
  right: 5px;
}

.video-list-container
{

}

.video-list-container .video-item-preview
{
  float: left;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 15px;
  overflow: hidden;
}

.video-list-container .video-item-preview .picture
{
  width: 100%;
}