body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  font-family: sans-serif;
}

.clearfix
{
  clear: both;
}

.common-page
{

}

.security-page
{

}

.security-page h2
{
  margin-bottom: 0px;
}

.form-control
{
  width: 100%;
  margin-bottom: 25px !important;

}

.form-control legend
{
  margin-bottom: 15px;
}

.form-control .upload-button-container
{
  position: relative;
}

.form-control .upload-button-container .file-upload-input,
.form-control .upload-button-container .file-upload-button
{
    position: absolute !important;
    top: 0;
    left: 0;
}

.form-control .upload-button-container .file-upload-input
{
  z-index: 2;
}

.form-control .upload-button-container .file-upload-button
{
  z-index: 1;
}

.security-page .submit-container
{
  margin-top: 15px;
}

form .error
{
  color: red;
}

form .date-time-field
{
  padding-top: 20px;
  padding-bottom: 20px;
}

form legend
{
  color: #000ccc !important;
}

.upload-images-list
{
  clear: both;
}

.upload-images-list .upload-image-preview
{
  width: 150px;
  height: 150px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-images-list .upload-image-preview:hover
{
}

.upload-images-list .upload-image-preview .deleting-picture
{
  opacity: 0.5;
}

.upload-images-list .upload-image-preview img
{
  cursor: pointer;
}

.upload-images-list .upload-image-preview-inline
{
  float: left;
  margin: 10px;
}

.upload-images-list .upload-image-preview .upload-progress-container
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  opacity: 0.5;
}

.upload-images-list .upload-image-preview .remove-button,
.video-list-container .video-item-preview .remove-button
{
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
}

.upload-images-list .upload-image-preview:hover .remove-button,
.video-list-container .video-item-preview:hover .remove-button
{
  display: flex;
}

.upload-images-list .upload-image-preview .upload-progress-container .upload-infinity-progress
{
  margin: auto auto;
}
.upload-images-list .upload-image-preview .upload-progress-container .upload-linear-progress
{
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-window-content
{
  margin: auto auto;
  border: none;
}

.modal-window-content.paper
{
  padding: 25px;
}

.modal-window-content.paper .title
{
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal-picture-content
{
  width: 75%;
  margin: auto auto;
  border: none;
}


.form-control .upload-button-container > div
{
  display: inline !important;
  width: inherit !important;
  height: inherit !important;
  border: none !important;
}

.video-form-container
{
  padding: 25px;
  position: relative;
}

.video-form-container .progress
{
  position: absolute;
  top: 5px;
  right: 5px;
}

.video-list-container
{

}

.video-list-container .video-item-preview
{
  float: left;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 15px;
  position: relative;
}

.video-list-container .video-item-preview.deleting
{
  opacity: 0.5;
}

.video-list-container .video-item-preview .picture
{
  width: 100%;
}

.modal-video-content
{
  text-align: center;
}

.modal-video-content iframe
{
  min-width: 640px !important;
  min-height: 480px !important;
}

.profile-event-list
{

}

.profile-event-list .profile-event-item
{
  margin-bottom: 15px;
  position: relative;
}

.profile-event-list .profile-event-item .header
{
  margin-top: 5px;
  margin-bottom: 5px;
}


.profile-event-list .profile-event-item .description
{
  margin-bottom: 15px;
}


.profile-event-list .profile-event-item .event-actions-container,
.event-details-page .event-details-content .event-actions-container
{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 500;
  display: none;
  padding: 16px;
  text-align: right;
}

.profile-event-list .profile-event-item:hover .event-actions-container
{
  display: block;
}

.profile-event-list .profile-event-item .event-actions-container button
{
  margin-right: 5px;
}

.profile-event-list .profile-event-item .picture-list
{

}

.profile-event-list .profile-event-item .picture-list .picture-list-item
{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-event-list .profile-event-item .numbers
{

}

.profile-event-list .profile-event-item .numbers .item
{
  display: inline !important;
  margin-right: 5px;
}

.profile-event-list .event-item-video-list
{

}

.profile-event-list .event-item-video-list .video-list-item
{
  width: 150px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}


.profile-event-list .event-item-video-list .video-list-item .preview
{
  width: 100%;

}


.profile-event-list .event-item-video-list .video-list-item .icon-container
{
  position: absolute;
  top: 50%;
  left: 50%;
}

.profile-event-list .event-item-video-list .video-list-item .icon-container .play-icon
{
  margin-left: -50%;
  margin-top: -50%;
  width: 50px;
  height: 50px;
}

.profile-event-list .tag-list
{
  margin-bottom: 10px;
}

.tag-list
{
  display: flex;
  flex-wrap: wrap;
}

.tag-list .tag-item
{
  margin: 2px;
}

.event-details-page
{
  padding: 5px;
  position: relative;
  margin-bottom: 25px;
}

.event-details-page .event-actions-container
{
  display: block !important;
}

.event-details-page .event-details-content
{
  padding: 25px;
  margin-bottom: 50px;
}

.event-details-page .event-details-content .description
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.event-details-page .event-details-content .picture-list
{
  text-align: center;
}

.event-details-page .event-details-content .picture-list .picture-item-container
{
  padding: 5px;
}

.event-details-page .event-details-content .picture-list .picture-item-container .picture
{
  width: 100%;
}

.event-details-page .event-details-content .video-list
{
  text-align: center;
}

.event-details-page .event-details-content .video-list .video-item-container
{

}

.event-details-page .event-details-content .video-list .video-item-container .video-content
{

}

.event-details-page .event-details-content .video-list .video-item-container .video-content iframe
{
  max-width: 100%;
}

.MuiGrid-spacing-xs-16-145, .MuiGrid-spacing-xs-16-126
{
  width: auto !important;
  margin: 0 !important;
}

.comment-list-item
{
  margin-bottom: 5px;
}

.comment-list-item .comment-content
{
  position: relative;
  padding: 15px
}

.comment-list-item.deleting
{
  opacity: 0.5;
}

.comment-list-item.deleting .deleting-progress
{
  position: absolute;
  top: 15px;
  right: 15px;
}

.comment-list-item .comment-content:hover
{
  background: rgba(240, 240, 240, 0.24);
}

.comment-list-item .comment-content .actions-container
{
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.comment-list-item .comment-content:hover .actions-container
{
  display: block;
}

.comment-list-item .comment-content .comment-time
{

}

.comment-list-item .comment-content .comment-text
{

}